- if @inventory.quantity? || @inventory.quantity == nil
	%h4= Card.find(@inventory.card_id).name + " " + Category.find(Machine.find(@inventory.machine_id).category).try(:title) + " " + Machine.find(@inventory.machine_id).number.to_s
	= form_for @inventory do |f|
		.form-group
			= f.label :quantity, 'Quantity', class: 'control-label'
			= f.text_field :quantity, :value => @inventory.quantity, class: 'form-control'
		= submit_tag 'Update', class: 'btn btn-default'

-else
	= form_tag inventories_path, method: :post do |f|
		.form-group

			= label_tag :card_set_id, 'Card Set', class: 'control-label'
			= select_tag :card_set_id, options_for_select(@card_sets.collect {|c| [c.name, c.id]}), class: 'form-control', id: 'card_sets_select'

			= label_tag :card_id, 'Card', class: 'control-label'
			= select_tag :card_id, options_for_select(@cards.collect {|card| [card.name, card.id]}), class: 'form-control', id: 'cards_select'

			= label_tag :category_id, 'Machine Category', class: 'control-label'
			= select_tag :category_id, options_for_select(Category.all.collect {|cat| [cat.title, cat.id]}), class: 'form-control', id: 'categories_select'

			= label_tag :machine_id, 'Machine', class: 'control-label'
			= select_tag :machine_id, options_for_select(@machines.collect {|m| [m.number, m.id]}), class: 'form-control', id: 'machines_select'

			= label_tag :quantity, 'Quantity', class: 'control-label'
			= text_field_tag :quantity, "", class: 'form-control'
			
		= submit_tag 'Submit', class: 'btn btn-default'