%h1 Cards
.nav.nav-pills
	= link_to 'View All Cards', cards_path, class: 'btn btn-primary'
	= link_to 'Create New Set', new_card_set_path, class: 'btn btn-primary'
%br/
%table.table.table-bordered.table-hover
	%thead
		%th Set Name (click to view all cards in set)
		%th Add Card to Set
		%th Edit
		%th Delete

	%tbody
		- @card_sets.each do |c|
			%tr
				%td= link_to c.name, card_set_cards_path(c)
				%td= link_to 'Add New Card', new_card_set_card_path(c), class: 'btn btn-primary'
				%td= link_to 'Edit', edit_card_set_path(c), class: 'btn btn-success'
				%td= link_to 'Delete',  card_set_path(c),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'