%h1 Cards
.nav.nav-pills
	= link_to 'View All Cards', cards_path, class: 'btn btn-primary'
	= link_to 'Create New Set', new_card_set_path, class: 'btn btn-primary'
%br/

= smart_listing_controls_for(:card_sets, {class: "form-inline text-right"}) do
	.form-group.filter.input-append
		= text_field_tag :filter, '', class: "search form-control", placeholder: "Search...", autocomplete: "off"
		%button.btn-primary.disabled{type: "submit"}
			%span.glyphicon.glyphicon-search
%p
= smart_listing_render(:card_sets)