- unless smart_listing.empty?
	- Category.all.each do |c|
		%h4= c.title
		%table.table.table-bordered.table-hover
			%thead
				%th Machine/Device #
				%th Quantity
				%th Edit
				%th Delete

			%tbody
				- smart_listing.collection.each do |i|
					- if c.id == i.category
						%tr
							- @query = Inventory.where(:machine_id => i.id).where(:card_id => @card.id).take
							%td= link_to " #" + i.number.to_s, machine_cards_path(i)
							%td= @query.quantity
							%td= link_to 'Edit', edit_inventory_path(@query), class: 'btn btn-success'
							%td= link_to 'Delete',  inventory_path(@query),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
	%p
		%i.fa.fa-exclamation-triangle
		%strong No Inventory Listed for this Card!