- if @card_set
	%h1= @card_set.name
	%p= link_to 'Add New Card to This Set', new_card_set_card_path(@card_set), class: 'btn btn-primary'
	= smart_listing_controls_for(:cards, {class: "form-inline text-right"}) do
		.form-group.filter.input-append
			= text_field_tag :filter, '', class: "search form-control", placeholder: "Search cards...", autocomplete: "off"
			%button.btn-primary.disabled{type: "submit"}
				%span.glyphicon.glyphicon-search
	%p
	= smart_listing_render(:cards)

- elsif @machine
	%h1= Category.find(@machine.category).try(:title) + " #" + @machine.number.to_s
	= smart_listing_controls_for(:cards, {class: "form-inline text-right"}) do
		.form-group.filter.input-append
			= text_field_tag :filter, '', class: "search form-control", placeholder: "Search cards or set ID...", autocomplete: "off"
			%button.btn-primary.disabled{type: "submit"}
				%span.glyphicon.glyphicon-search
	%p
	= smart_listing_render(:cards)
	
-else
	%h1 All Cards
	%p= link_to 'Add New Card to A Set', new_card_path, class: 'btn btn-primary'
	= smart_listing_controls_for(:cards, {class: "form-inline text-right"}) do
		.form-group.filter.input-append
			= text_field_tag :filter, '', class: "search form-control", placeholder: "Search cards or set ID...", autocomplete: "off"
			%button.btn-primary.disabled{type: "submit"}
				%span.glyphicon.glyphicon-search
	%p
	= smart_listing_render(:cards)