= form_for @machine do |f|
	.form-group
		- if @machine.number?
			= f.label :category, 'Category', :value => @machine.category, class: 'control-label'
			%br/
			= f.select :category, Category.all.collect {|c| [c.title, c.id]}, class: 'form-control'
			%br/
			%br/
			= f.label :number, 'Machine Number', :value => @machine.number, class: 'control-label'
			= f.text_field :number, class: 'form-control'
		-else
			= f.label :category, 'Category', class: 'control-label'
			%br/
			= f.select :category, Category.all.collect {|c| [c.title, c.id]}, class: 'form-control'
			%br/
			%br/
			= f.label :number, 'Machine Number', class: 'control-label'
			= f.text_field :number, class: 'form-control'
	= f.submit 'Submit', class: 'btn btn-default'