- unless smart_listing.empty?
	- Category.all.each do |c|
		%h4= c.title
		%table.table.table-bordered.table-hover
			%thead
				%th Machine Number/Name (click to view all cards in machine)
				%th SWCT Account Name
				%th E-Mail
				%th Notes
				%th Edit Machine Details
				%th Delete Machine

			%tbody
				- smart_listing.collection.each do |m|
					- if m.category == c.id
						%tr
							%td= link_to "##{m.number}", machine_cards_path(m)
							%td= m.swct_name
							%td= m.email
							%td= m.notes
							%td= link_to 'Edit Machine Details', edit_machine_path(m), class: 'btn btn-success'
							%td= link_to 'Delete Machine',  machine_path(m),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
- else
	%p.warning No records!