- content_for :title, "Machines/Devices"
%h1 Machines/Devices
%p= link_to 'Create New Machine/Device', new_machine_path, class: 'btn btn-primary'\

%ul.nav.nav-tabs
	%li.active= link_to "Tita PC", "#tita", data: { toggle: 'tab' }
	%li= link_to "Tito PC", "#tito", data: { toggle: 'tab' }
	%li= link_to "Devices", "#device", data: { toggle: 'tab' }
	.tab-content
		.tab-pane.fade.in.active#tita
			%table.table.table-bordered.table-hover
				%thead
					%th.col-md-2 Machine
					%th.col-md-2 SWCT Account Name
					%th.col-md-2 E-Mail
					%th.col-md-3 Notes
					%th.col-md-3.text-center Actions

				%tbody
					- @machines.each do |m|
						- if m.category == 0
							%tr
								%td
									= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, machine_cards_path(m)
									= best_in_place m, :number, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :swct_name, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :email, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :notes, as: :textarea
								%td.text-center
									= link_to '<i class="fa fa-pencil fa-lg"></i> Edit Machine'.html_safe, edit_machine_path(m), class: 'btn btn-success'
									= link_to '<i class="fa fa-trash fa-lg"></i> Delete'.html_safe,  machine_path(m),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
		.tab-pane.fade#tito
			%table.table.table-bordered.table-hover
				%thead
					%th.col-md-2 Machine
					%th.col-md-2 SWCT Account Name
					%th.col-md-2 E-Mail
					%th.col-md-3 Notes
					%th.col-md-3.text-center Actions

				%tbody
					- @machines.each do |m|
						- if m.category == 1
							%tr
								%td
									= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, machine_cards_path(m)
									= best_in_place m, :number, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :swct_name, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :email, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :notes, as: :textarea
								%td.text-center
									= link_to '<i class="fa fa-pencil fa-lg"></i> Edit Machine'.html_safe, edit_machine_path(m), class: 'btn btn-success'
									= link_to '<i class="fa fa-trash fa-lg"></i> Delete'.html_safe,  machine_path(m),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
		.tab-pane.fade#device
			%table.table.table-bordered.table-hover
				%thead
					%th.col-md-2 Machine
					%th.col-md-2 SWCT Account Name
					%th.col-md-2 E-Mail
					%th.col-md-3 Notes
					%th.col-md-3.text-center Actions

				%tbody
					- @machines.each do |m|
						- if m.category == 2
							%tr
								%td
									= link_to '<i class="fa fa-eye fa-lg"></i>'.html_safe, machine_cards_path(m)
									= best_in_place m, :number, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :swct_name, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :email, as: :input, :html_attrs => { size: '50%'}
								%td= best_in_place m, :notes, as: :textarea
								%td.text-center
									= link_to '<i class="fa fa-pencil fa-lg"></i> Edit Machine'.html_safe, edit_machine_path(m), class: 'btn btn-success'
									= link_to '<i class="fa fa-trash fa-lg"></i> Delete'.html_safe,  machine_path(m),  method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'

:javascript
	$(document).ready(function() {
	  /* Activating Best In Place */
	  jQuery(".best_in_place").best_in_place();
	});