!!!
%html
	%head
		%title SWCT Inventory App
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.navbar.navbar-inverse
			.container
				= link_to 'Home', root_path, class: 'navbar-brand'
				= link_to 'Card Management', card_sets_path, class: 'btn btn-default navbar-btn'
				= link_to 'Machine/Device Management', machines_path, class: 'btn btn-default navbar-btn'
				= link_to 'Inventory Management', inventories_path, class: 'btn btn-default navbar-btn'
				.pull-right
					- if user_signed_in?
						= link_to 'Edit Account',edit_user_registration_path(current_user), class: 'btn btn-success navbar-btn'
						= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: 'btn btn-warning navbar-btn'
					- else
						= link_to 'Sign In', new_user_session_path, class: 'btn btn-success navbar-btn'
		.row
			.col-md-10.col-md-offset-1
				.container
					- if flash[:notice]
						.alert.alert-success= flash[:notice]
					- elsif flash[:error]
						.alert.alert-danger= flash[:error]
					= yield